alabaster==0.7.12
argh==0.26.2
argon2-cffi==20.1.0
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
attrs==20.2.0
autopep8==1.5.4
babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
bcrypt==3.2.0
bleach==3.2.1
blis==0.4.1
bokeh==2.2.3
brotlipy==0.7.0
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
conda-package-handling==1.7.2
conda==4.9.0
configparser==5.0.1
cryptography==3.1.1
cycler==0.10.0
cymem==2.0.3
cytoolz==0.11.0
dask-glm==0.2.0
dask-ml==1.7.0
dask==2.30.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
distributed==2.30.0
docker-pycreds==0.4.0
docutils==0.16
en-core-web-sm==2.3.1
entrypoints==0.3
flake8==3.8.4
fsspec==0.8.4
future==0.18.2
gitdb==4.0.5
gitpython==3.1.11
gql==2.0.0
graphql-core==2.3.2
heapdict==1.0.1
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
intervaltree==3.1.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.18.1
isort==5.6.4
jedi==0.17.1
jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
keyring==21.4.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
llvmlite==0.34.0
locket==0.2.0
mamba==0.6.1
markupsafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
multipledispatch==0.6.0
murmurhash==1.0.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
nltk==3.5
notebook==6.1.4
numba==0.51.2
numpy==1.19.1
numpydoc==1.1.0
nvidia-ml-py3==7.352.0
olefile==0.46
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
paramiko==2.7.2
parso==0.7.0
partd==1.1.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.0.0
pip==20.2.4
plac==0.9.6
plotly==4.12.0
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.2
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
pygments==2.7.1
pylint==2.6.0
pynacl==1.4.0
pyopenssl==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pysocks==1.7.1
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
pytz==2020.1
pywin32-ctypes==0.2.0
pywin32==228
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==19.0.2
qdarkstyle==2.8.1
qtawesome==1.0.1
qtconsole==4.7.7
qtpy==1.9.0
regex==2020.10.15
requests==2.24.0
retrying==1.3.3
rope==0.18.0
rtree==0.9.4
ruamel-yaml==0.15.87
rx==1.6.1
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
send2trash==1.5.0
sentry-sdk==0.19.1
setuptools==50.3.0.post20201006
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
sortedcontainers==2.2.2
spacy==2.3.2
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder-kernels==1.9.4
spyder==4.1.5
srsly==1.0.2
subprocess32==3.5.4
tblib==1.7.0
terminado==0.9.1
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
tqdm==4.50.2
traitlets==5.0.5
typed-ast==1.4.1
typing-extensions==3.7.4.3
ujson==4.0.1
urllib3==1.25.11
wandb==0.10.8
wasabi==0.8.0
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.35.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
yapf==0.30.0
zict==2.0.0
zipp==3.3.1